html {
  height: 100%;
}
body {
  margin: 0;
  padding:0;
  height: 100%;
}
caption
{
  display:none;
} 

#container {
  margin: 0;
  background: #fff;
  min-height: 100%;
}

#header h1 { 
  margin: 0; 
  font-size: 1.4em;
}

#navigation {
  float: left;
padding:0;
margin: 0;
  width: 100%;
  background: #555;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: block;
  float: left;
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #999;
}

#navigation li a:hover { 
  background: #383; 
}

#menu_right {
  float:right;
  margin: 0;
  padding:0;
}

.menuObjectRight {
  display:inline;
}

#content {
  clear: left;
  padding: 5px;
  margin-top: 35px;
  min-height: 100%;
}

#pdf {
	width: 100%;
	height: 500px;
}

#content h2 {
  color: #000;
  font-size: 160%;
  margin: 0 0 .5em;

}

#footer {
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}

table {
	font-size: .7em;
	color:#333333;
	border-width: 1px;
	border-color: #999;
	border-collapse: collapse;
}

table th {
  border-width: 1px;
  padding: 2px;
  border-style: solid;
  border-color: #999;
  background-color: #CCC;
  text-align: right; 
}

table td {
  border-width: 1px;
  padding: 2px;
  border-style: solid;
  border-color: #999;
  background-color: #ffffff;
  text-align: right; 
}

table tr:hover {
  background-color:yellow;
} 

table tr:hover th[scope=row], table tr:hover td { 
  background-color: #ddd;
} 

tfoot {color:#000;
  font-style: italic;
  background-color: #dedede;
}

a { text-decoration:none }

input {
  border-style:solid;
  border-width:1px;
  margin: 3px;
  padding: 0;
  border-color: #666;
}

.radio {
  border-style:solid;
  border-width:1px;
  margin: 3px;
  padding: 0;
  border-color: #666;
height:20px;
}

.chart {
  border-width: 1px; 
  border-style:solid;
  border-color: #999;
}

.dateInput {
  padding: 0;
  margin: 5;
}

.dateInputGrey {
  background-color: #999;
}

#stockChooser{
  border:1px solid #400;
  padding:10px;
  margin-top:10px;
  position:absolute;
  right: 10px;
  top: 35px;
  background-color:#FFF;
  z-index:4;
  display:none;
}

#click a:link, a:visited{
  color: #333;
}


